<h1><center><span style="color:Living Coral">Sentiment Analysis on IMDB Movie Reviews</span></center></h1>

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB,BernoulliNB

In [27]:
df_train = pd.read_csv('movie_review_train.csv')
df_test = pd.read_csv('movie_review_test.csv')

In [28]:
df_train.head()

  class                                               text
0   Pos   a common complaint amongst film critics is   ...
1   Pos   whew   this film oozes energy   the kind of b...
2   Pos   steven spielberg s   amistad     which is bas...
3   Pos   he has spent his entire life in an awful litt...
4   Pos   being that it is a foreign language film with...

In [29]:
df_test.head()

  class                                               text
0   Pos   films adapted from comic books have had plent...
1   Pos   every now and then a movie comes along from a...
2   Pos   you ve got mail works alot better than it des...
3   Pos      jaws   is a rare film that grabs your atte...
4   Pos   moviemaking is a lot like being the general m...

In [30]:
df_train['class'].value_counts()

Neg    800
Pos    800
Name: class, dtype: int64

In [31]:
df_train['class'] = df_train['class'].map({'Pos':1,'Neg':0})
df_test['class'] = df_test['class'].map({'Pos':1,'Neg':0})

In [32]:
X_train = df_train.text
y_train = df_train['class']

In [33]:
vec = CountVectorizer(stop_words='english')

In [34]:
vec.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [35]:
X_train_transformed = vec.transform(X_train)
X_train_transformed

<1600x35858 sparse matrix of type '<class 'numpy.int64'>'
	with 394677 stored elements in Compressed Sparse Row format>

In [36]:
len(vec.vocabulary_)

35858

In [37]:
pd.DataFrame(X_train_transformed.toarray(),columns=vec.get_feature_names())

,00,000,007,00s,03,04,05,05425,10,100,...,zucker,zuehlke,zuko,zukovsky,zulu,zundel,zurg,zus,zwick,zwigoff
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1598,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
vec = CountVectorizer(stop_words='english', min_df=.03, max_df=.8)

In [39]:
vec.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=0.8, max_features=None, min_df=0.03,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [40]:
X_train_transformed = vec.transform(X_train)
pd.DataFrame(X_train_transformed.toarray(),columns=vec.get_feature_names())

,000,10,100,13,15,1995,1996,1997,1998,1999,...,written,wrong,wrote,yeah,year,years,yes,york,young,younger
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,1,0,0,0
1596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1598,0,0,0,0,0,2,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
len(vec.vocabulary_)

1643

In [42]:
X_test = df_test['text']
y_test = df_test['class']

In [43]:
X_test_transformed = vec.transform(X_test)
X_test_transformed.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 2, 0]])

In [44]:
X_test_transformed

<400x1643 sparse matrix of type '<class 'numpy.int64'>'
	with 51663 stored elements in Compressed Sparse Row format>

In [45]:
model = BernoulliNB()

In [46]:
model.fit(X_train_transformed,y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [47]:
y_pred = model.predict(X_test_transformed)

In [48]:
from sklearn.metrics import accuracy_score,confusion_matrix,auc,roc_curve

In [49]:
accuracy_score(y_test,y_pred)

0.79

In [53]:
pd.DataFrame(confusion_matrix(y_test,y_pred),columns=['Predicted Negative','Predicted Positive'],index=['Actual Negative','Actual Positive'])

                 Predicted Negative  Predicted Positive
Actual Negative                 177                  23
Actual Positive                  61                 139